body {
	background-color: #66ccff;
}

h1 {
	text-align: center;
}

.container {
	width: 35em;
	margin: 5% auto 0 auto;
	border-radius: 1em;
	padding: 1em;
	background-color: white;
}

h3 {
	text-align: center;
}

span {
	text-decoration: underline;
	color: dodgerblue;
	vertical-align: super;
	font-size: 0.5em;
}

span:hover {
	color: orange;
}

img {
	margin: 0 auto 0 45%;
}

#footer {
	text-align: center;
	margin: 10em auto 0 auto;
	padding: 1em;
	height: 3.5em;
	position: fixed;	
	bottom: 0;
	width: 100%;
	background-color: #66ccff;
}

td {
	padding: 0.5em;
}

.fiveDayDate {
	text-align: center;
}

.fiveDayTemp {
	text-align: center;
}

.fiveDayIcon {
	padding: 0 auto 0 auto;
	margin: 0 auto 0 auto;
	/*border: 1px solid black;*/
}

#fiveDayForecast-Title {
	text-align: center;
	font-size: 1.75em;
}

#fiveDay {
	margin: 0 auto;
	padding: 0 auto;
/*	border: 1px solid black;*/
}

.fiveDayForecast-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.shade {
	background-color: lightgrey;
}

#beautiful {
	margin-top: 1em;
	text-align: center;
	color: black;
	font-size: 2em;
}

