body {
	background-color: #66ccff;
}

h1 {
	text-align: center;
}

.container {
	width: 30em;
	margin: 5% auto 0 auto;
	border-radius: 1em;
	padding: 1em;
	background-color: white;
}

h3 {
	text-align: center;
}

span {
	text-decoration: underline;
	color: dodgerblue;
	vertical-align: super;
	font-size: 0.5em;
}

span:hover {
	color: orange;
}

img {
	margin: 0 auto 0 45%;
}