body {
	background-color: #66ccff;
}

h1 {
	text-align: center;
}

.container {
	width: 30em;
	margin: 5% auto 0 auto;
	border-radius: 1em;
	padding: 1em;
	background-color: white;
}

h3 {
	text-align: center;
}

.buttons {
	text-align: center;
}

.icon {
	padding: 1em 45% 0em;
}