<!DOCTYPE html>
<html lang="en" ng-app="MyMapApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Weather App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="MapController as vm">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
					<h1 ng-cloak>{{ vm.town }}, {{ vm.country }}</h1>	
					<h1 ng-cloak ng-show="vm.weatherF">{{ vm.tempF | number:0 }}°<span ng-click="vm.getWeatherC()">F</span></h1>
					<h1 ng-cloak ng-show="vm.weatherC">{{ vm.tempC | number:0 }}°<span ng-click="vm.getWeatherF()">C</span></h1>
					<img ng-src="http://openweathermap.org/img/w/{{ vm.icon }}.png">
					<h3 ng-cloak>{{ vm.description }}</h3>
					<hr>
					<div id="fiveDayForecast-Title">5 Day Forecast</div>
					<div class="fiveDayForecast-wrapper" ng-cloak>
						<table>
							<tr id="fiveDay">
								<td class="fiveDayDate fiveDayForecast-item shade" ng-cloak>{{ vm.fiveDayForecast1 | date: "EEE" }}<br>{{ vm.fiveDayForecast1 | date: "MMM d" }}</td>
								<td class="fiveDayDate fiveDayForecast-item" ng-cloak>{{ vm.fiveDayForecast2 | date: "EEE" }}<br>{{ vm.fiveDayForecast2 | date: "MMM d" }}</td>
								<td class="fiveDayDate fiveDayForecast-item shade" ng-cloak>{{ vm.fiveDayForecast3 | date: "EEE" }}<br>{{ vm.fiveDayForecast3 | date: "MMM d" }}</td>
								<td class="fiveDayDate fiveDayForecast-item" ng-cloak>{{ vm.fiveDayForecast4 | date: "EEE" }}<br>{{ vm.fiveDayForecast4 | date: "MMM d" }}</td>
								<td class="fiveDayDate fiveDayForecast-item shade" ng-cloak>{{ vm.fiveDayForecast5 | date: "EEE" }}<br>{{ vm.fiveDayForecast5 | date: "MMM d" }}</td>
							</tr>
							<tr>
								<td class="fiveDayTemp shade" ng-cloak>{{ vm.fiveDayTempHi1 }}° | {{ vm.fiveDayTempLo1 }}°</td>
								<td class="fiveDayTemp" ng-cloak>{{ vm.fiveDayTempHi2 }}° | {{ vm.fiveDayTempLo2 }}°</td>
								<td class="fiveDayTemp shade" ng-cloak>{{ vm.fiveDayTempHi3 }}° | {{ vm.fiveDayTempLo3 }}°</td>
								<td class="fiveDayTemp" ng-cloak>{{ vm.fiveDayTempHi4 }}° | {{ vm.fiveDayTempLo4 }}°</td>
								<td class="fiveDayTemp shade" ng-cloak>{{ vm.fiveDayTempHi5 }}° | {{ vm.fiveDayTempLo5 }}°</td>
							</tr>
							<tr>
								<td class="shade"><img class="fiveDayIcon" ng-src="http://openweathermap.org/img/w/{{ vm.icon1 }}.png"></td>
								<td class="fiveDayIcon"><img ng-src="http://openweathermap.org/img/w/{{ vm.icon2 }}.png"></td>
								<td class="fiveDayIcon shade"><img ng-src="http://openweathermap.org/img/w/{{ vm.icon3 }}.png"></td>
								<td class="fiveDayIcon"><img ng-src="http://openweathermap.org/img/w/{{ vm.icon4 }}.png"></td>
								<td class="fiveDayIcon shade"><img ng-src="http://openweathermap.org/img/w/{{ vm.icon5 }}.png"></td>
							</tr>
							<tr>
								<td class="shade" ng-cloak>{{ vm.fiveDayForecastDescription1 }}</td>
								<td ng-cloak>{{ vm.fiveDayForecastDescription2 }}</td>
								<td class="shade" ng-cloak>{{ vm.fiveDayForecastDescription3 }}</td>	
								<td ng-cloak>{{ vm.fiveDayForecastDescription4 }}</td>
								<td class="shade" ng-cloak>{{ vm.fiveDayForecastDescription5 }}</td>
							</tr>
						</table>
					</div>
			</div>
		</div>
	</div>
	
	<div id="beautiful">Have a great day!</div>
	<div id="footer">
		&copy; 2016 <a href="http://www.emilychen.net" target="_blank">Emily Chen</a>
	</div>

	<script src="js/app.js"></script>
</body>
</html>